<a href="https://colab.research.google.com/github/SrinivasMandla/Cognifyz-technologies-Data-Science/blob/main/Feature_Engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LEVEL 2

**TASK 3**

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set(color_codes=True)
%matplotlib inline

In [3]:
df=pd.read_csv('/content/Dataset .csv')

In [4]:
df.describe()

,Restaurant ID,Country Code,Longitude,Latitude,Average Cost for two,Price range,Aggregate rating,Votes
count,9.551000e+03,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000
mean,9.051128e+06,18.365616,64.126574,25.854381,1199.210763,1.804837,2.666370,156.909748
std,8.791521e+06,56.750546,41.467058,11.007935,16121.183073,0.905609,1.516378,430.169145
min,5.300000e+01,1.000000,-157.948486,-41.330428,0.000000,1.000000,0.000000,0.000000
25%,3.019625e+05,1.000000,77.081343,28.478713,250.000000,1.000000,2.500000,5.000000
50%,6.004089e+06,1.000000,77.191964,28.570469,400.000000,2.000000,3.200000,31.000000
75%,1.835229e+07,1.000000,77.282006,28.642758,700.000000,2.000000,3.700000,131.000000
max,1.850065e+07,216.000000,174.832089,55.976980,800000.000000,4.000000,4.900000,10934.000000

In [5]:
df.isna().sum()

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [6]:
df['Cuisines'].fillna('Unknown',inplace=True)

In [7]:
df.isnull().sum()

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                0
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [10]:
df['Restaurant Name Length']=df['Restaurant Name'].str.len()

In [9]:
df['Address Length']=df['Address'].str.len()

In [12]:
df[['Restaurant Name','Restaurant Name Length','Address Length','Address']]

,Restaurant Name,Restaurant Name Length,Address Length,Address
0,Le Petit Souffle,16,71,"Third Floor, Century City Mall, Kalayaan Avenu..."
1,Izakaya Kikufuji,16,67,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi..."
2,Heat - Edsa Shangri-La,22,56,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal..."
3,Ooma,4,70,"Third Floor, Mega Fashion Hall, SM Megamall, O..."
4,Sambo Kojin,11,64,"Third Floor, Mega Atrium, SM Megamall, Ortigas..."
...,...,...,...,...
9546,Naml۱ Gurme,11,103,"Kemanke�� Karamustafa Pa��a Mahallesi, R۱ht۱m ..."
9547,Ceviz A��ac۱,12,77,"Ko��uyolu Mahallesi, Muhittin ��st�_nda�� Cadd..."
9548,Huqqa,5,73,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N..."
9549,A���k Kahve,11,75,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N..."
9550,Walter's Coffee Roastery,24,65,"Cafea��a Mahallesi, Bademalt۱ Sokak, No 21/B, ..."

*create new features like 'Has Table Booking' or 'Has Online Delivery' by encoding categorical vairables*

In [13]:
df['Has Table booking']=df['Has Table booking'].map({'Yes':1,'No':0})
df['Has Online delivery']=df['Has Online delivery'].map({'Yes':1,'No':0})

In [15]:
df[['Has Table booking','Has Table booking','Has Online delivery','Has Online delivery']]

,Has Table booking,Has Table booking,Has Online delivery,Has Online delivery
0,1,1,0,0
1,1,1,0,0
2,1,1,0,0
3,0,0,0,0
4,1,1,0,0
...,...,...,...,...
9546,0,0,0,0
9547,0,0,0,0
9548,0,0,0,0
9549,0,0,0,0
9550,0,0,0,0

# **OBSERVATION:**

• Two new columns added, "Restaurant Name length' and 'Address Length from the length of the restaurant name or address

• And also two new binary column added by encoding categorical variables, "Has Table booking' and 'Has Online delivery

Percentage of Restaurants offers table booking is 12.12% & Percentage of Restaurants offers online delivery is 25.66%.

Average Ratings With Table Booking is 3.44 & Without Table Booking is 2.56.

Most of the restaurant do not have the online delivery services. In price range 1 less than 20% are available, In price range 2 around 40% are availabe, In price range 3 it look like 30% are available and in price range 4 only 10% are available.

• People mostly buy from the Price range 2 and very less number of people buy food from Price range 4 may be because of its costliest in price compare to others

Most Common Price range among all the restaurant is 1.

• Price range 4 got the highest average rating, which is 3.82, followed by price range 3. 2 and 1